# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build outputs
client/dist/
server/dist/
.vite/

# Local env
.env
.env.*

# OS / Editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Logs
logs
*.log
log.txt

# Netlify
.netlify/

# Misc
coverage/
.cache/
